@page "/"

<PageTitle>Index</PageTitle>

<h1>IP Paint!</h1>

Welcome to IP Paint.
<br/>
IP Paint is an Open-Source project which aims to visualise IPv4 ranges through colours. When you visit IP Paint, your IP address is turned red and can be viewed by future IP Paint visitors